.menu-item {
  border: 2px solid #c1c1c1;
  border-radius: 3px;
  padding: 7px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.menu-item:hover {
  background-color: #f1f1f1;
}
